[submodule "src/protected/application/plugins/AldirBlanc"]
	path = src/protected/application/plugins/AldirBlanc
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/plugin-aldirblanc-go.git
	branch = develop
[submodule "src/protected/application/plugins/MultipleLocalAuth"]
	path = src/protected/application/plugins/MultipleLocalAuth
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/multiplelocalauth-go.git
	branch = develop
[submodule "src/protected/application/plugins/AldirBlancDataprev"]
	path = src/protected/application/plugins/AldirBlancDataprev
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/plugin-dataprev-go.git
[submodule "src/protected/application/plugins/AldirBlancValidador"]
	path = src/protected/application/plugins/AldirBlancValidador
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/plugin-validador-go.git
[submodule "src/protected/application/plugins/RegistrationPayments"]
	path = src/protected/application/plugins/RegistrationPayments
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/plugin-registration-payments-go
[submodule "src/protected/application/plugins/AldirBlancValidadorFinanceiro"]
	path = src/protected/application/plugins/AldirBlancValidadorFinanceiro
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/plugin-validador-financeiro-go
[submodule "src/protected/application/plugins/AldirBlancValidadorRecurso"]
	path = src/protected/application/plugins/AldirBlancValidadorRecurso
	url = https://codigo.dev.tools.go.gov.br/mapa-cultural/plugin-validador-recurso-go
